.chat-container {
  display: flex;
  width: 100vw; /* Tüm genişlik */
  height: 100vh; /* Tüm yükseklik */
  font-family: "Poppins", sans-serif;
  background-color: #1f1f2e; /* Genel arka plan */
  overflow: hidden; /* Kaymaların önlenmesi */
}

.chat-sidebar {
  width: 30%; /* Sabit genişlik */
  border-right: 1px solid #434955;
  padding: 20px;
  background-color: #1f1f2e;
  color: #f8f9fa;
  overflow-y: auto; /* Dikey kaydırma */
}

.chat-sidebar h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #00b4d8;
  text-align: center;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #282c34;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative; /* Bildirim noktası için gerekli */
}

.chat-item:hover {
  transform: translateY(-3px);
  background-color: #434955;
}

.chat-item-selected {
  background-color: #0077a7;
  color: #fff;
}

.chat-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f8f9fa;
}

.chat-item-date {
  font-size: 0.8rem;
  color: #868e96;
}

.chat-main {
  flex: 1; /* Geri kalan tüm alanı kapla */
  padding: 20px;
  background-color: #282c34;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Kaymayı engelle */
}

.chat-main h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #00b4d8;
}

.message-list {
  flex: 1; /* Ana alanın büyük kısmını kapla */
  overflow-y: auto; /* Kaydırma */
  padding: 15px;
  border-radius: 8px;
  background-color: #1f1f2e;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.message:hover {
  transform: translateY(-2px);
}

.message-own {
  flex-direction: row-reverse;
}

.message-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px;
  border: 2px solid #282c34;
}

.message-content {
  flex: 1;
  padding: 10px;
  background-color: #434955;
  border-radius: 10px;
  color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.message-own .message-content {
  background-color: #0077a7;
  color: #1f1f2e;
}

.message-content strong {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.message-content p {
  margin: 0;
  font-size: 0.9rem;
}

.message-content small {
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
  color: #adb5bd;
}

.message-input-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.message-input {
  flex: 1;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: #434955;
  color: #f8f9fa;
  outline: none;
}

.message-input::placeholder {
  color: #adb5bd;
}

.message-send-btn {
  padding: 12px 20px;
  background-color: #00b4d8;
  color: #1f1f2e;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.message-send-btn:hover {
  background-color: #0077a7;
  transform: scale(1.05);
}
.message-date {
  text-align: center;
  margin: 10px 0;
  font-size: 0.9rem;
  color: #666;
  font-weight: bold;
}
