body {
  margin: 0; /* Kenarlardan boşluk kaldır */
  padding: 0;
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  min-height: 100vh; /* Ekranın tamamını kapla */
  background: linear-gradient(135deg, #1f1f2e, #282c34); /* Arka plan */
}
.signin-page {
  max-width: 600px;
  top: 20px;
  padding: 70px;
  background: linear-gradient(135deg, #1f1f2e, #434955);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #00b4d8;
}

.signin-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 1rem;
  color: #b0b0b0;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: #434955;
  color: white;
}

.signin-links {
  margin-top: 40px;
  text-align: center;
  gap: 10px;
}

.reset-link,
.signup-link {
  color: #00b4d8;
  text-decoration: none;
  font-weight: bold;
}

.reset-link:hover,
.signup-link:hover {
  color: #0077a7;
  text-decoration: underline;
}

.signin-links p {
  margin-top: 0px;
  text-align: start;
  font-size: 0.9rem;
  color: #b0b0b0;
}
