body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1f1f2e, #282c34);
}

.signup-page {
  max-width: 600px;
  margin: 80px auto;
  padding: 30px;
  background: linear-gradient(135deg, #1f1f2e, #434955);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: transparent;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

.signup-title {
  text-align: center;
  margin-bottom: 0px;
  font-size: 2rem;
  color: #00b4d8;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.form-group label {
  font-size: 1rem;
  color: #b0b0b0;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: #434955;
  color: white;
}
.interest-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interest-option {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signup-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #00b4d8;
  color: #1f1f2e;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  gap: 5px;
}

.signup-button:hover {
  background-color: #0077a7;
}
.login-redirect {
  margin-top: 0px;
  text-align: end;
  font-size: 0.9rem;
  color: #b0b0b0;
}

.login-link {
  color: #00b4d8;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  color: #0077a7;
  text-decoration: underline;
}
.interest-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interest-option {
  display: flex;
  align-items: center;
  gap: 5px;
}
