/* Genel Konteyner */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #f8f9fa;
}

/* Kart Stili */
.forgot-password-card {
  background-color: #1f1f2e;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Başlık */
.forgot-password-title {
  font-size: 1.8rem;
  color: #00b4d8;
  margin-bottom: 15px;
}

/* Açıklama Metni */
.forgot-password-text {
  font-size: 1rem;
  color: #adb5bd;
  margin-bottom: 20px;
}

/* Form */
.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-label {
  text-align: left;
  font-size: 1rem;
  color: #f8f9fa;
}

/* Giriş Alanı */
.forgot-password-input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #434955;
  font-size: 1rem;
  background-color: #282c34;
  color: #f8f9fa;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-input:focus {
  border-color: #00b4d8;
  box-shadow: 0 0 8px #00b4d8;
}

/* Buton */
.forgot-password-button {
  padding: 12px;
  background-color: #00b4d8;
  color: #1f1f2e;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
  font-weight: bold;
}

.forgot-password-button:hover {
  background-color: #0077a7;
  transform: scale(1.05);
}

/* Başarı ve Hata Mesajları */
.forgot-password-success {
  color: #28a745;
  font-size: 0.9rem;
  margin-top: 15px;
}

.forgot-password-error {
  color: #dc3545;
  font-size: 0.9rem;
  margin-top: 15px;
}
