/* Ana Konteyner */
.event-detail-container {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #1f1f2e;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px auto;
  max-width: 900px;
  min-width: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Üst Görsel Alanı */
.event-detail-header {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.event-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.event-detail-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.event-detail-title {
  font-size: 2rem;
  color: #00b4d8;
  font-weight: bold;
}

.event-detail-category {
  font-size: 1rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

/* İçerik Alanı */
.event-detail-content {
  padding: 20px;
  text-align: left;

  color: #ffffff;
}

.event-detail-description {
  font-size: 0.9rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #c9d1d9;
}

.event-detail-info p {
  font-size: 18px;
  color: #c9d1d9;
  margin: 5px 0;
}

.event-detail-info strong {
  color: #00b4d8;
}

/* Harita Alanı */
.event-detail-map {
  margin: 20px 0;
  text-align: center;
}

.event-detail-map-frame {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hata Mesajı */
.event-detail-error {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}
.event-detail-category2 {
  /* Kategori */

  background-color: #00b4d8;
  color: #1f1f2e;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  max-width: fit-content; /* Metin kadar genişlik */
  margin-bottom: 10px; /* Başlık ile boşluk */
}
.join-event-button {
  align-self: flex-end; /* Butonu sağa yaslar */
}
