.events-section {
  padding: 10px 20px;
  background-color: transparent;
}

.section {
  margin-bottom: 10px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 30px;
  color: white;
}

.events-grid {
  display: grid; 
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  gap: 30px;
  padding: 20px;
}
