/* Genel Konteyner */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  font-family: "Poppins", sans-serif;
  color: #f8f9fa;
  margin: 0;
}

/* Kart Tasarımı */
.reset-password-card {
  background-color: #1f1f2e;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 600px;
  text-align: center;
}

/* Başlık */
.reset-password-title {
  font-size: 1.8rem;
  color: #00b4d8;
  margin-bottom: 20px;
}

/* Form */
.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-password-label {
  text-align: left;
  font-size: 1rem;
  color: #a2abb4;
  margin-bottom: 0px;
}

/* Giriş Alanı */
.reset-password-input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #434955;
  font-size: 1rem;
  background-color: #282c34;
  color: #f8f9fa;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.reset-password-input:focus {
  border-color: #00b4d8;
  box-shadow: 0 0 8px #00b4d8;
}

/* Buton */
.reset-password-button {
  padding: 12px;
  background-color: #00b4d8;
  color: #1f1f2e;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

.reset-password-button:hover {
  background-color: #0077a7;
  transform: scale(1.05);
}

/* Mesajlar */
.reset-password-message {
  font-size: 0.9rem;
  margin-top: 15px;
}

.reset-password-message.success {
  color: #28a745;
}

.reset-password-message.error {
  color: #dc3545;
}
