/* Genel slider kapsayıcı */
.slider-container-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Kartların bulunduğu yatay kaydırma alanı */
.slider-container {
  display: flex;
  overflow: hidden;
  gap: 70px;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

/* Kart stili */
.event-card {
  flex: 0 0 auto;
  width: 400px; 
  min-height: 480px;
}

/* Butonlar */
.slider-button {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sol buton */
.slider-button.left {
  left: -80px;
}

/* Sağ buton */
.slider-button.right {
  right: -80px;
}

/* Buton hover efekti */
.slider-button:hover {
  background-color: #0077a3;
}
